textarea {
    min-height: 400px;
}

.col {
    float: left;
    padding: 10px;
}

.sender {
    font-weight: bold;
}

.timestamp {
    color: gray;
}

.sender, .timestamp {
    width: 25%;
}

.subject {
    width: 50%;
}

#inbox-row {
    border-style: solid;
    border-width: 1px;
    height: 50px;
    /* margin: 0.5px; */
}

#inbox-row:after {
    content: "";
    display: table;
    clear: both;
}

#inbox-container {
    display: grid;
}
